.cactus {
  position: relative;
  height: 100vh;
  width: 200vh;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 72.5px;
  color: black;
  font-weight: bold;
  line-height: 87px;
  text-align: center;
}

div.main_title {
  position: absolute;
   left: 0;
   right: 0;
   top: 50%;
   transform: translateY(-50%);
   margin: auto;
   text-align: center;
   color: white;
 }

 nav {
   margin-top: 10px;
 }
 nav ul li{
   display: inline-block;
   margin-right: 50px;
   font-size: 12pt;
 }

 a {
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;
  color: green;
}
/* FOOTER */
footer {
  background-color: #242424;
  padding-bottom: 70px;
   padding-top: 70px;
  position: relative;
}

#footer_text {
  margin-top: 80px;
  line-height: 25px;
  letter-spacing: 0.25px;
  color: white;
  text-align: center;
  font-size: 17px;
}

#informations {
  margin-top: 55px;
  letter-spacing: 0.90px;
  color: white;
  text-align: center;
  font-size: 17px;
}
